@import 'utility_classes';
@import 'mixins';

$primary: #002a60;
$secondary: #0e3f7c;

@import './bootstrap/scss/bootstrap';

body {
  min-height: 100vh;
  @include position(relative);
}

body.preload * {
  animation-duration: 0s !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

form label {
  font-size: 14px;
}

.header {
  z-index: 1000;
}

.table {
  .action-icon {
    font-size: 1rem;
  }

  tr {
    font-size: 14px;
  }
}

.spinner-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000a8;
  z-index: 1000;
}

input::placeholder {
  font-size: 0.85rem;
}

.form-error {
  font-size: 0.92rem;
}

.sidebar {
  @include position(absolute, 64px, null, 0, 0);
  z-index: 12;
  .menu-btn {
    @include position(absolute, 10px, 10px, null, null);
    span {
      font-size: 30px;
    }
  }

  .report-btn {
    cursor: pointer;
  }

  .report-types {
    a {
      font-size: 0.95rem;
    }
  }

  .report-types--open {
    animation-name: open-report-types;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  .report-types--close {
    animation-name: close-report-types;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .report-arrow {
    transform: rotate(0deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 25px;
  }

  .report-arrow--right {
    animation-name: report-arrow-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .report-arrow--down {
    animation-name: report-arrow-down;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &__quick-actions {
    .add-icon {
      font-size: 1rem;
    }
    li,
    a {
      background: transparent;
    }
    a {
      @include font(0.85rem);
    }
  }

  &__actions {
    .material-icons {
      font-size: 1.2rem;
    }
  }

  .list-group {
    a,
    .list-group-item {
      background-color: $secondary;
      color: white;
      &:hover {
        background-color: darken($secondary, $amount: 6);
        color: white;
      }
    }
    .active {
      background-color: darken($color: $primary, $amount: 1) !important;
    }
  }
}

.sidebar-bg {
  @include position(fixed, 64px, null, 0, 0);
}

.sidebar-bg--open {
  width: 200px;
}
.sidebar-bg--close {
  width: 50px;
}

.sidebar--open {
  width: 200px;
  transition: all 0.5s;
}

.sidebar--close {
  width: 50px;
  transition: all 0.5s;
  padding-top: 6em !important;

  .menu-btn {
    @include position(absolute, 10px, 0, null, 0);
    margin: auto;
  }

  .logo {
    display: none !important;
  }

  .list-group {
    .option-text {
      display: none;
    }
  }

  .sidebar__quick-actions,
  .sidebar__reports {
    display: none;
  }
}

.modal--visible {
  display: block;
  background-color: #000000e3;
}

.main {
  padding-left: 200px;

  &__content {
    width: 85%;
    margin: 0 auto;

    .add-btn {
      width: max-content;
    }
  }

  .pages {
    &__list > li {
      margin: 0 0.15em;

      .btn--change-page .material-icons {
        font-size: 20.5px;
      }
    }
  }
}

.main--expanded {
  padding-left: 50px;
}

.main--login {
  .main__content {
    width: 60%;
    max-width: 500px;
    @include position(absolute, 50%, 0, 0, 0);
    transform: translateY(-50%);
  }
}

.main__content--dashboard {
  max-width: 800px;
  .stats {
    .grid {
      @include responsive-grid(200px);
    }
    .card {
      max-width: 300px;
    }
  }
}

.main__content--users {
  table {
    min-width: 700px;
  }
}

.main__content--customers {
  table {
    min-width: 1000px;
  }
}

.main__content--inventory {
  table {
    min-width: 1000px;
  }
}

.main__content--suppliers {
  table {
    min-width: 700px;
  }
}

.main__content--categories {
  .table-container {
    max-width: 650px;
  }
}

.edit-category-modal {
  background: #000000cc;
  z-index: 100;
}

.main__content--add-user,
.main__content--edit-user {
  form {
    max-width: 500px;
  }
}

.main__content--add-supplier,
.main__content--edit-supplier {
  form {
    max-width: 500px;
  }
}

.main__content--add-purchase,
.main__content--edit-purchase {
  table {
    min-width: 600px;
  }

  form {
    max-width: 500px;
  }
}

.main__content--add-customer,
.main__content--edit-customer {
  form {
    max-width: 500px;
  }
}

.main__content--sales,
.main__content--purchases {
  table {
    .material-icons {
      font-size: 22px;
    }
  }
}

.main__content--sale-invoice {
  .header-buttons {
    max-width: 700px;
  }

  .sale-invoice {
    max-width: 700px;

    &__payment,
    &__contact {
      font-size: 14px;
    }

    &__payment {
      table {
        max-width: 350px;
      }
    }

    &__details {
      font-size: 15px;
      line-height: 1.5rem;
    }
  }
}

.main__content--purchase-invoice {
  .header-buttons {
    max-width: 700px;
  }

  .purchase-invoice {
    max-width: 700px;

    &__payment,
    &__contact {
      font-size: 14px;
    }

    &__payment {
      table {
        max-width: 350px;
      }
    }

    &__details {
      font-size: 15px;
      line-height: 1.5rem;
    }
  }
}

.main__content--add-sale,
.main__content--edit-sale {
  form {
    max-width: 500px;
  }
  table {
    min-width: 750px;
  }
}

.main__content--add-product,
.main__content--edit-product {
  form {
    max-width: 500px;
  }
}

.main__content--sales-report,
.main__content--purchases-report {
  .report-header {
    display: none;
  }

  .table {
    min-width: 700px;
  }
}

.main__content--settings {
  .forms-container {
    max-width: 600px;
  }
}

.report-form {
  max-width: 500px;
}

@media (max-width: 720px) {
  .main {
    padding-left: 50px;
    &__content {
      width: 90%;
    }
  }

  .main--login {
    .main__content {
      width: 90%;
    }
  }
}

@media print {
  * {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
  }
  .header {
    padding: 0 !important;

    .navbar-brand {
      margin-left: 0 !important;
    }

    .store-info {
      margin-right: 0 !important;
    }
  }
  .sidebar,
  .sidebar-bg {
    display: none !important;
  }

  .main {
    padding: 0 !important;
  }

  .main__content {
    width: initial !important;
    margin: 0 !important;

    .pages {
      display: none !important;
    }
  }

  .main__content--sales-report,
  .main__content--purchases-report {
    padding: 0 !important;
    .card-body {
      padding: 0 !important;
    }
    form,
    .btn--print-report {
      display: none !important;
    }
    .report-header {
      display: block;
      margin: 1em 0;
    }
    .table-container {
      margin-top: 0 !important;
    }
    .sales-h {
      display: none;
    }
  }

  @page {
    margin: -10mm 11mm 10mm 11mm;
  }
}

/**********************
      KEY FRAMES
**********************/

@keyframes open-report-types {
  from {
    height: 0;
  }
  to {
    height: 80px;
  }
}

@keyframes close-report-types {
  from {
    height: 80px;
  }
  to {
    height: 0;
    overflow: hidden;
  }
}

@keyframes report-arrow-right {
  from {
    transform: rotate(90deg) translateX(-50%);
  }
  to {
    transform: rotate(0deg) translateY(-50%);
  }
}
@keyframes report-arrow-down {
  to {
    transform: rotate(90deg) translateX(-50%);
  }
}
